.weather-app{
  height: 100dvh;
  background-color: #0D1B2A;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #E0E1DD;
  padding: 16px;
  padding-top: 0;
  box-sizing: border-box;
  overflow: auto;

  .weather-header{
    display: flex;
    gap: 16px;
    align-items: center;
    height: 40px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    background-color: #0D1B2A;
    z-index: 1;
    padding-block: 16px;

    .icon-logo{
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    .weather-title{
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      flex-grow: 1;
      margin-left: -40px;
    }
  }

  .weather-content{
    flex-grow: 1;
    display: grid;
    place-items: center;

    .weather-container{
      padding: 32px;
      max-width: 400px;
      max-height: 400px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      background-color: #1b263b;
      border-radius: 8px;
      position: relative;
      max-width: 350px;
      width: calc(100% - 64px);
    }
  }
}









